* {
    margin: 0;
    padding: 0;
}
.mem-slider__wrapper {
    margin: 5vw auto;
    width: 50rem;
    height: 40rem;
    background-color: grey;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mems__images {
    width: 100%;
}

.mems__slider__wrapper {
    margin-left: 0;
    display: flex;
    width: 200rem;
    height: 30rem;
}

.radio_buttons__wrapper {
    display: flex;
    order: 1;
}

.mem-image{
    width: 50rem;
    border-radius: 2rem;
}

.text-content__wrapper{
    width: 60%;
    overflow-x: hidden;
}

.text-slider {
    width: 400%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0%;
}

.text {
    text-align: start;
    width: 25%;
    font-size: 1.5rem;
}